@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(22, 24, 35, 0.06);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 24, 35, 0.1);
  }

  body {
    overflow: auto;
    /* Đảm bảo nội dung vẫn cuộn được */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }
}

@layer utilities {
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }

  .scroll-snap-align {
    scroll-snap-align: start;
  }
}